.campgrounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 $gutter-sides;
}

.campground {
  background-color: $color-primary-dark;
  border: 2px solid $color-secondary-light;
  border-radius: 10px;
  box-shadow: $box-shadow-light;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  overflow: hidden;
  padding: .5rem;

  &:hover &__img {
    filter: contrast(100%) saturate(100%);
  }

  &__name {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }

  &__img-box {
    height: 25rem;
    object-fit: fill;
    overflow: hidden;
    width: 25rem;
  }

  &__img {
    filter: contrast(70%) saturate(50%);
    height: 100%;
    transition: filter .3s ease;
    width: 100%;
  }
}
