<% include ./partials/header %>

<section class="hero">
  <h1 class="hero__h1">Create a new campground</h1>
  <a class="btn" href="/campgrounds">Back to campgrounds</a>
</section>

<div class="new">
  <form action="/campgrounds" method="POST">
    <input class="new__input" type="text" name="name" placeholder="Name">
    <input class="new__input" type="text" name="image" placeholder="Image URL">
    <button class=" btn new__btn">Submit</button>
  </form>
</div>

<% include ./partials/footer %>
